@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */

.homePage {
	background: #BFC6FF;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #BFFFE6;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #BFDAFF;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #D8F6FF;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #BFFFFC;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
body {
     font: 100%/1.4 Optima, Verdana, Arial, Helvetica, sans-serif;
     background-color: #FFFFFF;
     margin: 0;
     padding: 0;
     color: #000;
}

a:link {
     color: #D8F6FF;
}
a:visited {
     color: #D8F6FF;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
